<div class="container">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">
        <p>{{ drug.name }}</p>
      </h5>
      <img
        src="../../assets/{{ drug.name }}.png"
        class="card-img-top"
        alt="{{ drug.name }}.png"
      />

      <div>
        <br />
        <br />
        <br />
      </div>

      <h6 class="card-subtitle mb-2 text-muted">
        <p>Available Quantity: {{ drug.quantity }} pieces</p>
      </h6>

      <div>
        <a style="float: left" routerLink="details/{{ drug.id }}"
          >More Details</a
        >
        <div>
          <br />
        </div>
      </div>
      <h6 class="card-title">
        <p>Price: {{ drug.Price }} DT</p>
      </h6>
    </div>
    <div class="card-footer">
      <div class="col md-6">
        <button
          class="btn btn-primary"
          style="float: left"
          routerLink="{{ drug.id }}"
        >
          UPDATE
        </button>
        <button
          class="btn btn-outline-danger"
          style="float: right"
          (click)="SuppDrug(drug.id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

  <div>
    <br />
    <br />
  </div>
</div>
