
<div class="row">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
        
        <img src="../../assets/{{medicament.name}}.png" class="card-img-top" alt="{{medicament.name}}.png">
      <h5 class="card-title"><p>  {{medicament.name}} </p></h5>
      <h6 class="card-subtitle mb-2 text-muted"><p> Form: {{medicament.Form}} </p></h6>
      <h6 class="card-subtitle mb-2 text-muted"> <p>  Laboratory: {{medicament.Laboratory}} </p></h6>
      <h6 class="card-subtitle mb-2 text-muted"> <p>  Dosage: {{medicament.Dosage}} </p> </h6>
      <h6 class="card-subtitle mb-2 text-muted"> <p>  id: {{medicament.id}} </p> </h6>
      <h6 class="card-title"><p>Price: {{medicament.Price}} DT </p></h6>
      
      <button type="button" class="btn btn-primary">Add to Cart</button>
      <a href="#" class="btn btn-success">Buy Now</a>     
      
     
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Medicament added to Cart
        </div>
      </div>
     
     
     
    </div>
  </div>
</div>



      
        
      
                 
       
       