

<div class="container-fluid">
<div>
    <br>
    <br>
  </div>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <img alt="EHealth.png"  src="../../assets/EHealth.png" style="max-width:70%;" >
  <div>
    <br>
 
  </div> 
    <p class="display-4 fw-normal"> Platform </p>
    <div>
      <br>
      
    </div> 
    <p class="display-4 fw-normal"> that allows you to quickly find a doctor closest to you.</p>

    <div>
      <br>
      <br>
    </div> 
    <p class="display-4 fw-normal"> Database </p>
    <div>
      <br>
      
    </div> 
    <p class="display-4 fw-normal">  of most drugs with prices and indications.</p>
    <div>
      <br>
      <br>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-center">Made with LOVE  </span>
       
        <div><br></div>
        <span class="text-center"> By : Mohamed Riadh JEBABLI</span>
        <div><br></div>
        <span class="text-center"> at ESPRIT</span>
      </div>
    </footer>
  </div>
  
</div>

